version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      day: friday
    open-pull-requests-limit: 100
    commit-message:
      prefix: chore
      include: scope
    groups:
      commitlint:
        patterns:
          - '@commitlint/*'
      eslint:
        patterns:
          - eslint
          - '@eslint/*'
      react:
        patterns:
          - react
          - '@types/react'
          - react-dom
          - '@types/react-dom'
      react-router:
        patterns:
          - react-router
          - '@react-router/*'
          - 'remix-flat-routes'
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
      day: friday
    open-pull-requests-limit: 100
    commit-message:
      prefix: chore
      include: scope
